@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    /* CSS HEX */
    --pistachio: #89d58cff;
    --persian-pink: #eb84c3ff;
    --tropical-indigo: #9d8df1ff;
    --periwinkle: #b8cdf8ff;

    /* CSS HSL */
    --pistachio: hsla(122, 48%, 69%, 1);
    --persian-pink: hsla(323, 72%, 72%, 1);
    --tropical-indigo: hsla(250, 78%, 75%, 1);
    --periwinkle: hsla(220, 82%, 85%, 1);
    scroll-margin-top: 75px;
}

body {
    font-family: 'nobel', sans-serif;
    background-color: var(--periwinkle);
    color: white;
}

#Washington path {
    transition: stroke-width 0.3s ease;
    filter: drop-shadow(0 0 2px white);
    z-index: 0;
    position: absolute;
}
.blackHeader {
    text-shadow: 1px 3px 30px white;
}
#Washington path:hover {
    stroke-width: 5;
    cursor: pointer;
    /*fill: red;*/
/*    make the county glow*/
    filter: drop-shadow(5px 5px 100px white);
    z-index: 1000 !important;

}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}


